
.topnav {
    font-size: medium;    
    background-color: rgb(87, 87, 87);
    height: 50px;
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

img {
    height: 200px;
    width: auto;
}

h1 {
    color: rgb(26, 18, 18
    );
}