
.topnav {  
    background-color: rgb(49, 49, 49);
    height: 50px;
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    word-spacing: 20px;
    position: relative;
}

.self {
    padding-top: 12px;
    height: auto;
    width: 100%;
    
}
.topnav a {
    font:status-bar;
    font-size: 25px;
    color: darkgray;
    text-decoration: none;
    text-align: center;
    float: left;
    padding-left: 15px;
    padding-top: 9px;
}
.body {
    margin: 0px;
    padding: 0px;
}
img {
    height: 200px;
    width: auto;
}

h1 {
    color: rgb(26, 18, 18
    );
}